@using TekstilScada.Models
@using TekstilScada.Core.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Loc

<div class="editor-group">
    <h5>@Loc["KurutmaParametreleri"]</h5>
    <div class="row">
        <div class="col-md-6 mb-2">
            <label class="form-label">@Loc["SicaklikC"]</label>
            <InputNumber class="form-control" @bind-Value="recipeStep.StepDataWords[0]" @oninput="NotifyParent" />
        </div>
        <div class="col-md-6 mb-2">
            <label class="form-label">@Loc["NemYuzde"]</label>
            <div class="input-group">
                <InputNumber class="form-control" @bind-Value="recipeStep.StepDataWords[1]" @oninput="NotifyParent" />
                <div class="input-group-text">
                    <InputCheckbox @bind-Value="isNemAktif" @oninput="NotifyParent" /> @Loc["Aktif"]
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <label class="form-label">@Loc["SureDk"]</label>
            <div class="input-group">
                <InputNumber class="form-control" @bind-Value="recipeStep.StepDataWords[2]" @oninput="NotifyParent" />
                <div class="input-group-text">
                    <InputCheckbox @bind-Value="isZamanAktif" @oninput="NotifyParent" /> @Loc["Aktif"]
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <label class="form-label">@Loc["CalismaDevriRpm"]</label>
            <InputNumber class="form-control" @bind-Value="recipeStep.StepDataWords[3]" @oninput="NotifyParent" />
        </div>
        <div class="col-md-6 mb-2">
            <label class="form-label">@Loc["SogutmaSuresiDk"]</label>
            <InputNumber class="form-control" @bind-Value="recipeStep.StepDataWords[4]" @oninput="NotifyParent" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ScadaRecipe Recipe { get; set; }

    [Parameter]
    public EventCallback OnChanged { get; set; }

    private ScadaRecipeStep recipeStep = new();

    private bool isNemAktif
    {
        get => GetBit(1);
        set => SetBit(1, value);
    }
    private bool isZamanAktif
    {
        get => GetBit(2);
        set => SetBit(2, value);
    }

    protected override void OnParametersSet()
    {
        recipeStep = Recipe?.Steps.FirstOrDefault() ?? new ScadaRecipeStep();
    }

    private bool GetBit(short bit) => (recipeStep.StepDataWords[5] & bit) != 0;
    private void SetBit(short bit, bool value)
    {
        if (value) { recipeStep.StepDataWords[5] |= bit; }
        else { recipeStep.StepDataWords[5] &= (short)~bit; }
        NotifyParent();
    }

    private void NotifyParent() => OnChanged.InvokeAsync();
}